/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --neutral-very-pale-blue: hsl(207, 100%, 98%);
}

body {
    font-family: 'open-sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    padding-top: 30px;
    margin: 0;
}

h1, h3, strong {
    color: var(--neutral-very-dark-cyan);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p {
    color: var(--neutral-very-dark-cyan);
}

button {
    background-color: var(--primary-pink);
    color: #fff;
    padding: 10px;
    border-radius: 16px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    width: 50%;
    cursor: pointer;
}

button:active {
    background-color: var(--primary-light-pink);
    opacity: 0.9;
}

/* Header Styles */

header {
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 50%;
}

.logo button {
   width: 35%;
   border: 1px solid var(--primary-pink);
   color: var(--primary-pink);
   background-color: #fff;
   font-weight: 400;
   padding: 5px;
}

.logo button:active {
   opacity: 0.6;
}

header .product-presentation {
    margin-top: 50px;
}

.product-presentation button {
    margin-top: 30px;
}

.product-presentation img {
    width: 100%;
    margin-top: 60px;
}

header .stats div {
    margin: 80px 0;
    position: relative;
}

.stats img,
.stats strong,
.stats small {
    display: block;
    margin: 20px auto;
}

.stats img {
    transform: translateX(-100%);
}

.stats strong {
    font-size: 4rem;
}

.stats small {
    color: lightslategray;
}

/* Main Styles */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-image1,
.background-image2,
.background-image3,
.background-image4,
.background-image5 {
    width: 100%;
    height: 250px;
}

main section {
    padding: 50px 30px;
    position: relative;
}

.background-image1 {
    background: url(images/bg-section-top-mobile-1.svg) no-repeat;
    background-size: 100%;
    background-position: bottom;
}

main .grow-together {
    width: 100%;
    background-color: var(--neutral-very-pale-blue);
}

.background-image2 {
    background: url(images/bg-section-bottom-mobile-1.svg) no-repeat;
    background-size: 100%;
}

main .flowing-conversations {
    width: 100%;
}

.grow-together img,
.flowing-conversations img, 
.your-users img {
    width: 60%;
    margin-bottom: 50px;
}

.background-image3 {
    background: url(images/bg-section-top-mobile-2.svg) no-repeat;
    background-size: 100%;
    background-position: bottom;
}

main .your-users {
    width: 100%;
    background-color: var(--neutral-very-pale-blue);
}

.background-image4 {
    background: url(images/bg-section-bottom-mobile-2.svg) no-repeat;
    background-size: 100%;
}

main .subscribe {
    width: 100%;
}

main .subscribe button {
    margin-top: 20px;
}

/* Footer styles */

.background-image5 {
    background: url(images/bg-footer-top-mobile.svg) no-repeat;
    background-position: bottom;
    background-size: 100%;
    transform: translateY(10px);
    z-index: -2;
}

footer {
    width: 100%;
    background-color: var(--neutral-very-dark-cyan);
    color: var(--neutral-very-pale-blue);
    padding: 70px 30px 0 30px;
}

footer div {
    margin-bottom: 60px;
}

footer p {
    color: var(--neutral-very-pale-blue);
}

footer .newsletter h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.newsletter input {
    width: 100%; 
    padding: 18px;
    display: block;
    margin: 32px 0 16px 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.newsletter input:focus {
    outline: none;
}

.newsletter input:invalid {
    border: 1px solid var(--primary-light-red);
}

input:invalid ~ small {
    display: inline-block;
}

.newsletter small {
    display: none;
    color: var(--primary-light-red);
    margin-bottom: 10px;
}

.newsletter input:invalid ~ button {
    margin-left: 0;
}

.newsletter button {
    margin-left: 50%;
    width: 50%;
    padding: 20px;
}

footer .contact-info address {
    display: inline-block;
    margin-left: 20px;
    padding: 20px 0;
    font-style: normal;
}

footer .social-media {
    margin-top: 30px;
}

.social-media a {
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

.social-media a:nth-child(odd) {
    color: var(--neutral-very-dark-cyan);
    border-radius: 3px;
    background-color: #fff;
}

.social-media a:active {
    background-color: hsl(191, 94%, 49%, 1);
}

.social-media i {
    width: 20px;
}

/* Media Query Styles */

@media (min-width: 1024px) {
    button {
        width: 25%;
    }

    .logo img {
        width: 20%;
    }

    .logo button {
        width: 15%;
     }

     header .product-presentation h1,
     header .product-presentation p {
        margin: 70px 150px 0 150px;
    }

    .product-presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-presentation img {
        width: 50%;
    }

    header .stats {
        display: flex;
       justify-content: space-evenly;
    }

    main {
        text-align: left;
    }

    main .background-image1 {
        background: url(images/bg-section-top-desktop-1.svg) no-repeat;
        background-size: 100%;
        background-position: bottom;
    }

    main section:not(:last-child) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main section div {
        margin: 0 100px;
    }

    .grow-together div:first-child,
    .your-users div:first-child {
        order: 2;
    }

    .background-image2 {
        background: url(images/bg-section-bottom-desktop-1.svg) no-repeat;
        background-size: 100%;
    }

    .background-image3 {
        background: url(images/bg-section-top-desktop-2.svg) no-repeat;
        background-size: 100%;
        background-position: bottom;
    }

    .background-image4 {
        background: url(images/bg-section-bottom-desktop-2.svg) no-repeat;
        background-size: 100%;
    }

    .subscribe {
        text-align: center;
    }

    .background-image5 {
        background: url(images/bg-footer-top-desktop.svg) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

    footer {
        display: flex;
    }

    footer div {
        margin: 0 80px 30px 80px;
    }

    footer .newsletter {
        order: 2;
    }

    footer .social-media {
        margin-left: 0;
    }

    footer .newsletter input {
        width: 60%; 
        display: inline;
        margin-top: 20px;
    }

    .newsletter button {
        margin-left: 15px;
        width: 30%;
    }   
}


